<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zoom-Clone</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="video-grid">

    </div>
    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="clientSideScriptFile.js" charset="utf-8"></script>
    <script>
      const ROOM_ID = "<%= roomId %>"
    </script>
  </body>
</html>
