body{
  background-color: white;
}
h1{
  margin: 10px;
  font-family: 'Lobster', cursive;
  font-size: 4.5rem;
  text-align: center;
}
footer{
  margin: 20px;
  text-align: center;
}
.table{
  width: 80%;
  text-align: center;
  margin: auto;
}
.table-img{
  height: 300px;
  width: 300px;
  padding: 0 100px;
}
.tea-img{
  height: 150px;
  width: 100px;
}
.robotic-arm{
  height: 150px;
  width: 100px;
}
